
<!--AboutUs-->

<!-- <section class="mdl-layout__tab-panel" id="fixed-tab-1"> -->
<section id="fixed-tab-1">
  <div class="page-content">
    <p class="about_text">Through a series of events involving mental aptitude, logic, and dexterity, we seek to provide school students, 
      a platform to build fundamental experience and knowledge, <br>
      to exercise co-ordination skills, and <br>
      to think out of the box !</p>

    <!--What are we? -->
    <h4 id="head" class="about1">WHAT ARE WE?</h4>
    <p id="text" class="about_text">
      Technothlon is an international school championship organized by the student fraternity of IIT Guwahati. Technothlon began in 2004 in a small room with an aim to Inspire Young Minds. Starting on our journey with a participation of 200 students confined to the city of Guwahati, over the past 14 years we have expanded our reach to over 400 cities all over India and various centers abroad. 
      <br>The championship is organized over 2 rounds:<br>
      <b>Prelims:</b> a written preliminary examination which takes place in numerous schools all over India in the month of July.<br><b>Mains:</b> an event based competition which is conducted at IIT Guwahati, among the top 100 students from each squad.

    </p>

    <!--Structure -->

    <h4 id="head1" class="about1">STRUCTURE</h4>
    <p id="text1" class="about_text">Students participate in teams of 2.<br><br>
      There are two squads:<br>
      <b>Junior Squad-</b> Students of classes 9th and 10th.<br>
      <b>Hauts Squad-</b> Students of classes 11th and 12th.<br>
      <b> Note:</b> The class of the student at the time of the examination in the month of July is considered.
      <br>
      <b>Team formation : </b>The members can be from same class or different class. For example: a team consisting of one member from class IX and other from class X is perfectly acceptable for Junior squad. The basic requirements for team formation are they should consist exactly two members from the same squad and the same institution.</p>

      <!--Levels-->

      <h4 id="head2" class="about1">LEVELS</h4>
      <p id="text2" class="about_text"><b>Prelims (to be held to 15th July 2018)</b><br><br>Prelims is in general an objective written exam. It involves no syllabus or general knowledge and relies solely on the student's logical and analytical thinking abilities. The exam is generally of 2 and ½ hour length.The two team members are given a common Question paper and answer sheet and they can discuss it amongst themselves and attempt the paper together.<br><br>
        <b>Mains (To be held at IIT Guwahati during Techniche'18)</b><br><br>Mains is an event based competition.The selected teams of the same squad compete against each other in various events. Each team will have to face 3 events from which top 5 teams from each squad will be selected for the Final Showdown. The events, like prelims, do not require any prerequisite knowledge and students will be taught any extra knowledge they require. The events vary every year and in the past there have been events like Robotics, Aircrash Investigation, Water Rocket and many more!



      </p>


      <h4 class="about1" id="head3">SELECTION PROCESS</h4>
      <p class="about_text" id="text3">The teams are selected on the basis of the total marks scored in Prelims. The Top 50 teams <b>from each squad</b> are called to IIT Guwahati for the Mains Round.</p>
      <h4 class="about1" id="head4">REWARDS</h4>
      <p class="about_text" id="text4">Other than the top 100 participants which are selected for mains in each squad (& given Gold Certificates); the next 400 participants in both the squads are awarded with Silver Certificates from Techniche, IIT Guwahati. Also there are various other prizes to be won which will be disclosed later. Everyone participating in Technothlon 2018 will receive e-Certificate of participation.</p>
      <h4 class="about1" id="head5">TESTIMONIALS</h4>
      <p id="text5" class="about_text"> <b>HC Verma</b> <br><br>
        I saw your questions, and it is good that I don't have to appear in that. It's very tough and very very challenging and you are targeting the best brains.
        <br>The "Best Brains" need the challenge!

        <br> <br> <b>Shubham Jain (AIR 56, IITJEE 2012)</b><br> <br>It was my trip to IIT Guwahati in 2009 for Technothlon that motivated me and helped me achieve such a wonderful rank. I look to participate again in Techniche.


      </p>
      <!-- Your content goes here --></div>
    </section>