        <!--Contact-->

        <!-- <section class="mdl-layout__tab-panel" id="fixed-tab-3"> -->
        <section id="fixed-tab-3">
          <div class="page-content">

            <h4 class="about1 heads">CITY REPRESENTATIVE</h4>
            <div id="text7">
              <span style="margin-left: 4.5%; font-family: 'roboto'; font-size: 12px; font-weight: 300;">Search your city</span><br>

              <select class="select_menu" id="state" name="state" style="margin-top: 8px;">
                <option value="">Select State</option>
                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                        <option value="Assam">Assam</option>
                        <option value="Bihar">Bihar</option>
                        <option value="Chandigarh">Chandigarh</option>
                        <option value="Chattisgarh">Chattisgarh</option>
                        <option value="Delhi (Nct)">Delhi (Nct)</option>
                        <option value="Goa">Goa</option>
                        <option value="Gujarat">Gujarat</option>
                        <option value="Haryana">Haryana</option>
                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                        <option value="Jammu And Kashmir">Jammu And Kashmir</option>
                        <option value="Jharkhand">Jharkhand</option>
                        <option value="Karnataka">Karnataka</option>
                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Odisha">Odisha</option>
                        <option value="Punjab">Punjab</option>
                        <option value="Rajasthan">Rajasthan</option>
                        <option value="Tamil Nadu">Tamil Nadu</option>
                        <option value="Telangana">Telangana</option>
                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                        <option value="Uttarakhand">Uttarakhand</option>
                        <option value="West Bengal">West Bengal</option>
              </select>

              <select class="select_menu" disabled="disabled" id="city">
                <option>Select City</option>
              </select>
              <div id="test"> </div>
              <!-- left align was making prob -->
              <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
              <div style="text-align: center;display: block ;" id="crepsbycity"></div>
              </div>
              <div class="col-md-2"></div>
              </div>
            </div>

            <h4 class="about1 heads">MEET THE HEADS</h4>
                    <div id="text8">
        
                      <!--Card1-->
                      <div class="demo-card-square mdl-card mdl-shadow--2dp ex" style="margin-bottom:8px;">
                        <div class="mdl-card__media" id="jitika">
                          <div class="contact_image">
                            <img src="img/shambhavi.jpg" style="width: 100%; height: auto;">
                            <h2 class="zone"><span class="zone_bg">North Zone<span></h2>
                          </div>
                        </div>
        
        
                        <div class="mdl-card__title mdl-card--expand"  id="northzone">
        
                          <h2 class="mdl-card__title-text">North Zone</h2>
                        </div>
        
                        <span style="margin-left:16px; margin-bottom: 16px;" id="name" class="name2">  <img src="img/person.png" class="icon_ashu"><span style="font-size: 14px; font-family: "roboto"; font-weight: 500; margin-left: 8px;">Shambhavi Das</span></span>
        
                        <div class="mdl-card__supporting-text" id="contact_info">
        
                          <span><img src="img/call.png" class="icon_ashu"><span style="font-size: 14px; font-family: "roboto"; font-weight: 500; margin-left: 8px; color: #f57c00;">+91 8294426361</span></span><br><br>
                          <span><img src="img/mail.png" class="icon_ashu"><span style="font-size: 14px; font-family: "roboto"; font-weight: 500; margin-left: 8px; color: #f57c00;">shambhavi@technothlon.techniche.org</span></span><br>
                        </div>
        
          <!--div class="mdl-card__actions mdl-card--border" style="margin-top: 8px;">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="cmore1">
              MORE
            </a>
          </div-->
        </div>
        
        <!--Card2-->
        
        <div class="demo-card-square mdl-card mdl-shadow--2dp ex" style="margin-bottom:8px;">
          <div class="mdl-card__media" id="jitika1">
            <div class="contact_image">
              <img src="img/ishan.jpg" style="width: 100%; height: auto;">
              <h2 class="zone"><span class="zone_bg">West Zone<span></h2>
            </div>
          </div>
        
        
          <div class="mdl-card__title mdl-card--expand"  id="northzone1">
        
            <h2 class="mdl-card__title-text">West Zone</h2>
          </div>
        
          <span style="margin-left:16px; margin-bottom: 16px;" id="name1" class="name2">  <img src="img/person.png" class="icon_ashu"><span style="font-size: 14px; font-family: "roboto"; font-weight: 500; margin-left: 8px;">Ishan Azad</span></span>
        
          <div class="mdl-card__supporting-text" id="contact_info1">
        
            <span><img src="img/call.png" class="icon_ashu"><span style="font-size: 14px; font-family: "roboto"; font-weight: 500; margin-left: 8px; color: #f57c00;">+91 9459407907</span></span><br><br>
            <span><img src="img/mail.png" class="icon_ashu"><span style="font-size: 14px; font-family: "roboto"; font-weight: 500; margin-left: 8px; color: #f57c00;">ishan@technothlon.techniche.org</span></span><br>
          </div>
        
        </div>
        
        <!--Card3-->
        <div class="demo-card-square mdl-card mdl-shadow--2dp ex" style="margin-bottom:8px;">
          <div class="mdl-card__media" id="jitika2">
            <div class="contact_image">
              <img src="img/abhay.jpg" style="width: 100%; height: auto;">
              <h2 class="zone"><span class="zone_bg">Central Zone<span></h2>
            </div>
          </div>
        
        
          <div class="mdl-card__title mdl-card--expand"  id="northzone2">
        
            <h2 class="mdl-card__title-text">Central Zone</h2>
          </div>
        
          <span style="margin-left:16px; margin-bottom: 16px;" id="name2" class="name2">  <img src="img/person.png" class="icon_ashu"><span style="font-size: 14px; font-family: "roboto"; font-weight: 500; margin-left: 8px;">Abhay Kshatriya</span></span>
        
          <div class="mdl-card__supporting-text" id="contact_info2">
        
            <span><img src="img/call.png" class="icon_ashu"><span style="font-size: 14px; font-family: "roboto"; font-weight: 500; margin-left: 8px; color: #f57c00;">+91 7663010006</span></span><br><br>
            <span><img src="img/mail.png" class="icon_ashu"><span style="font-size: 14px; font-family: "roboto"; font-weight: 500; margin-left: 8px; color: #f57c00;">abhay@technothlon.techniche.org</span></span><br>
          </div>
        
        
        </div>
        
        <!--Card4-->
        <div class="demo-card-square mdl-card mdl-shadow--2dp ex" style="margin-bottom:8px;">
          <div class="mdl-card__media" id="jitika3">
            <div class="contact_image">
              <img src="img/paranjay.jpg" style="width: 100%; height: auto;">
              <h2 class="zone"><span class="zone_bg">East Zone<span></h2>
            </div>
          </div>
        
        
          <div class="mdl-card__title mdl-card--expand"  id="northzone3">
        
            <h2 class="mdl-card__title-text">East Zone</h2>
          </div>
        
          <span style="margin-left:16px; margin-bottom: 16px;" id="name3" class="name2">  <img src="img/person.png" class="icon_ashu"><span style="font-size: 14px; font-family: "roboto"; font-weight: 500; margin-left: 8px;">Paranjay Bagga</span></span>
        
          <div class="mdl-card__supporting-text" id="contact_info3">
        
            <span><img src="img/call.png" class="icon_ashu"><span style="font-size: 14px; font-family: "roboto"; font-weight: 500; margin-left: 8px; color: #f57c00;">+91 9216112392</span></span><br><br>
            <span><img src="img/mail.png" class="icon_ashu"><span style="font-size: 14px; font-family: "roboto"; font-weight: 500; margin-left: 8px; color: #f57c00;">paranjay@technothlon.techniche.org</span></span><br>
          </div>
        
        
        </div>
        
        <!--Card5-->
        <div class="demo-card-square mdl-card mdl-shadow--2dp ex" style="margin-bottom:8px;">
          <div class="mdl-card__media" id="jitika4">
            <div class="contact_image">
              <img src="img/apurva.jpg" style="width: 100%; height: auto;">
              <h2 class="zone"><span class="zone_bg">South Zone<span></h2>
            </div>
          </div>
        
        
          <div class="mdl-card__title mdl-card--expand"  id="northzone4">
        
            <h2 class="mdl-card__title-text">South Zone</h2>
          </div>
        
          <span style="margin-left:16px; margin-bottom: 16px;" id="name4" class="name2">  <img src="img/person.png" class="icon_ashu"><span style="font-size: 14px; font-family: "roboto"; font-weight: 500; margin-left: 8px;">Apurva N. Saraogi</span></span>
        
          <div class="mdl-card__supporting-text" id="contact_info4">
        
            <span><img src="img/call.png" class="icon_ashu"><span style="font-size: 14px; font-family: "roboto"; font-weight: 500; margin-left: 8px; color: #f57c00;">+91 8320527544</span></span><br><br>
            <span><img src="img/mail.png" class="icon_ashu"><span style="font-size: 14px; font-family: "roboto"; font-weight: 500; margin-left: 8px; color: #f57c00;">apurva@technothlon.techniche.org</span></span><br>
          </div>
        
        
        </div>
        
        <!--Card6-->
        <div class="demo-card-square mdl-card mdl-shadow--2dp ex" style="margin-bottom:8px;">
          <div class="mdl-card__media" id="jitika5">
            <div class="contact_image">
              <img src="img/harsha.jpg" style="width: 100%; height: auto;">
              <h2 class="zone"><span class="zone_bg">South Zone<span></h2>
            </div>
          </div>
        
        
          <div class="mdl-card__title mdl-card--expand"  id="northzone5">
        
            <h2 class="mdl-card__title-text">South Zone</h2>
          </div>
        
          <span style="margin-left:16px; margin-bottom: 16px;" id="name5" class="name2">  <img src="img/person.png" class="icon_ashu"><span style="font-size: 14px; font-family: "roboto"; font-weight: 500; margin-left: 8px;">K. Harsha Vardhan</span></span>
        
          <div class="mdl-card__supporting-text" id="contact_info5">
        
            <span><img src="img/call.png" class="icon_ashu"><span style="font-size: 14px; font-family: "roboto"; font-weight: 500; margin-left: 8px; color: #f57c00;">+91 8309467880</span></span><br><br>
            <span><img src="img/mail.png" class="icon_ashu"><span style="font-size: 14px; font-family: "roboto"; font-weight: 500; margin-left: 8px; color: #f57c00;">harsha@technothlon.techniche.org</span></span><br>
          </div>
        
        
        </div>
        
        
        </div>


<h4 class="about1 heads">CATCH US ON SOCIAL MEDIA</h4>
<div id="text9">

  <div class="demo-card-square mdl-card mdl-shadow--2dp">

    <ul style="list-style:none;">
      <li style="border-bottom: 1px solid rgba(0,0,0,0.12); padding-bottom: 8px; height: 64px;"><a href="https://www.facebook.com/technothlon.techniche" style="color: #212121;">
        <img src="img/fb.png" style="width: 48px; height: auto; position: absolute; top:16px; left: 8px;">
        <h6 style="margin: 0px; padding: 0px; font-size: 14px; font-weight: 500; position: absolute; top: 16px; left: 72px;">Facebook</h6>
        <h6 style="padding: 0px; margin:0px; font-size: 14px; font-weight: 300; position: absolute; top: 40px; left: 72px;">Like our FB page for latest updates!</h6></a>
      </li>

      <li style="border-bottom: 1px solid rgba(0,0,0,0.12); padding-bottom: 8px; height: 64px;"><a href="https://plus.google.com/+technothlon" style="color: #212121;">

        <img src="img/gplus.png" style="width: 48px; height: auto; position: absolute; top:96px; left: 8px;">
        <h6 style="margin: 0px; padding: 0px; font-size: 14px; font-weight: 500; position: absolute; top: 96px; left: 72px;">Google Plus</h6>
        <h6 style="padding: 0px; margin:0px; font-size: 14px; font-weight: 300; position: absolute; top: 120px; left: 72px;">+1 our G+ Page for the more info!</h6></a>
      </li>

      <li style="border-bottom: 1px solid rgba(0,0,0,0.12); padding-bottom: 8px; height: 64px;"><a href="http://technothlon.tumblr.com/" style="color: #212121;">

        <img src="img/tumblr.png" style="width: 48px; height: auto; position: absolute; top:170px; left: 8px;">
        <h6 style="margin: 0px; padding: 0px; font-size: 14px; font-weight: 500; position: absolute; top: 170px; left: 72px;">Tumblr</h6>
        <h6 style="padding: 0px; margin:0px; font-size: 14px; font-weight: 300; position: absolute; top: 194px; left: 72px;">Follow our Blogs on Tumblr!</h6></a>
      </li>

      <li style="padding-bottom: 0px; height: 64px;"><a href="https://www.facebook.com/technothlon.techniche" style="color: #212121;">

        <img src="img/email.png" style="width: 48px; height: auto; position: absolute; top:242px; left: 8px;">
        <h6 style="margin: 0px; padding: 0px; font-size: 14px; font-weight: 500; position: absolute; top: 242px; left: 72px;">Email</h6>
        <h6 style="padding: 0px; margin:0px; font-size: 14px; font-weight: 300; position: absolute; top: 266px; left: 72px;">technothlon@techniche.org</h6></a>
      </li>

    </ul>


  </div>
</div>
</div>

</section>
