<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pilot.technoapp" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Technothlon</name>
    <description>
        Technothlon - The Ultimate Test Of Logic.
    </description>
    <author email="apurva9@iitg.ac.in" href="http://technothlon.techniche.org">
        Apurva N. Saraogi
    </author>
    <content src="whatsnew.html" />
    <access launch-external="yes" origin="*" />
    <allow-navigation href="*" />
    <access origin="http://*" />
    <access origin="https://*" />
    <access origin="*" />
    <allow-intent href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <platform name="android">
        <icon density="mdpi" src="res/icon/drawable-mdpi/ic_launcher.png" />
        <icon density="hdpi" src="res/icon/drawable-hdpi/ic_launcher.png" />
        <icon density="xhdpi" src="res/icon/drawable-xhdpi/ic_launcher.png" />
        <icon density="xxhdpi" src="res/icon/drawable-xxhdpi/ic_launcher.png" />
        <icon density="xxxhdpi" src="res/icon/drawable-xxxhdpi/ic_launcher.png" />
        <splash src="res/screen/android/bgmascot.png" />
    </platform>
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="SplashMaintainAspectRatio" value="True" />
    <preference name="ShowSplashScreenSpinner" value="False" />
    <preference name="StatusBarBackgroundColor" value="#2c3d50" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-x-toast" spec="^2.6.0" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.1" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.1" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
    <plugin name="cordova-plugin-inappbrowser" spec="^2.0.1" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.7.0" />
    <plugin name="cordova-plugin-file" spec="^5.0.0" />
    <plugin name="cordova-plugin-compat" spec="^1.2.0" />
    <plugin name="cordova-plugin-device" spec="^2.0.1" />
    <plugin name="cordova-plugin-android-permissions" spec="^1.0.0" />
    <plugin name="cordova-plugin-screen-orientation" spec="^3.0.1" />
    <plugin name="onesignal-cordova-plugin" spec="^2.4.1" />
    <plugin name="cordova-plugin-customurlscheme" spec="^4.3.0">
        <variable name="URL_SCHEME" value="technothlon" />
        <variable name="ANDROID_SCHEME" value=" " />
        <variable name="ANDROID_HOST" value=" " />
        <variable name="ANDROID_PATHPREFIX" value="/" />
    </plugin>
    <engine name="android" spec="^7.0.0" />
</widget>
